/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/screen.scss */
body {
  background-color: #e0e0e0;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

/* line 16, ../sass/screen.scss */
br {
  clear: both;
}

/* line 20, ../sass/screen.scss */
h1 {
  background-color: #e0e0e0;
  border-bottom: 1px solid #c0c0c0;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  height: 72px;
  line-height: 72px;
}

/* line 29, ../sass/screen.scss */
.centralize {
  margin: 0 auto;
  width: 1000px;
}

/* line 1, ../sass/_buttons.scss */
button {
  line-height: 30px;
  height: 30px;
  border: 0px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  transition: all .3s ease;
  width: 150px;
}

/* line 14, ../sass/_buttons.scss */
button[disabled] {
  opacity: 0.4;
  cursor: default;
}

/* line 18, ../sass/_buttons.scss */
button:focus {
  outline: none;
}

/* line 22, ../sass/_buttons.scss */
.btn-action-right {
  float: right;
  margin: 5px 0 0 5px;
}

/* line 27, ../sass/_buttons.scss */
.btn-action-left {
  float: left;
  margin: 5px 5px 0 0;
}

/* line 32, ../sass/_buttons.scss */
.btn-green {
  background-color: #5cb85c;
  border-bottom: 3px solid #3c9e3c;
}

/* line 36, ../sass/_buttons.scss */
.btn-green:focus,
.btn-green:not([disabled]):hover {
  color: #000;
  background-color: #7cd87c;
  border-bottom: 3px solid #5cbe5c;
}

/* line 44, ../sass/_buttons.scss */
.btn-grey {
  background-color: #aaa;
  border-bottom: 3px solid #666;
}

/* line 48, ../sass/_buttons.scss */
.btn-grey:focus,
.btn-grey:not([disabled]):hover {
  color: #000;
  background-color: #ccc;
  border-bottom: 3px solid #888;
}

/* line 56, ../sass/_buttons.scss */
.btn-red {
  background-color: #c9302c;
  border-bottom: 3px solid #8c0905;
}

/* line 60, ../sass/_buttons.scss */
.btn-red:focus,
.btn-red:not([disabled]):hover {
  color: #000;
  background-color: #e9504c;
  border-bottom: 3px solid #a9100c;
}

/* line 68, ../sass/_buttons.scss */
.btn-yellow {
  background-color: #f0ad4e;
  border-bottom: 3px solid #d08d2e;
}

/* line 72, ../sass/_buttons.scss */
.btn-yellow:focus,
.btn-yellow:not([disabled]):hover {
  color: #000;
  background-color: #ffcd6e;
  border-bottom: 3px solid #f0ad4e;
}

/* line 80, ../sass/_buttons.scss */
.btn-blue {
  background-color: #337ab7;
  border-bottom: 3px solid #135a97;
}

/* line 84, ../sass/_buttons.scss */
.btn-blue:focus,
.btn-blue:not([disabled]):hover {
  color: #000;
  background-color: #31b0d5;
  border-bottom: 3px solid #1190b5;
}

/* line 1, ../sass/_calendar.scss */
#calendar-wrapper {
  transition: all .3s ease;
}

/* line 5, ../sass/_calendar.scss */
#calendar {
  box-sizing: border-box;
  float: left;
}
/* line 9, ../sass/_calendar.scss */
#calendar tr {
  box-sizing: border-box;
}
/* line 12, ../sass/_calendar.scss */
#calendar tr td {
  box-sizing: border-box;
}
/* line 17, ../sass/_calendar.scss */
#calendar .header {
  border: 0px;
  box-sizing: border-box;
  font-size: 18px;
  height: 68px;
  text-align: center;
}
/* line 25, ../sass/_calendar.scss */
#calendar .header:last-child {
  border-right: 1px solid #c0c0c0;
}
/* line 29, ../sass/_calendar.scss */
#calendar #month-name {
  text-align: left;
  opacity: 0;
  transition: opacity .3s ease;
}
/* line 35, ../sass/_calendar.scss */
#calendar .dayname {
  border: 1px solid #c0c0c0;
  height: 34px;
  text-align: center;
  width: 85px;
}
/* line 42, ../sass/_calendar.scss */
#calendar .day {
  border: 1px solid #c0c0c0;
  font-size: 14.4px;
  height: 68px;
  opacity: 0;
  text-align: center;
  transition: opacity .3s ease;
  width: 85px;
}
/* line 52, ../sass/_calendar.scss */
#calendar .day.selected {
  color: #337ab7;
  font-weight: bold;
  font-size: 19.2px;
}
/* line 58, ../sass/_calendar.scss */
#calendar .other-month {
  color: #999;
  font-size: 12px;
}
/* line 63, ../sass/_calendar.scss */
#calendar .is-today {
  font-size: 16.8px;
  font-weight: bold;
}
/* line 68, ../sass/_calendar.scss */
#calendar .action {
  cursor: pointer;
  transition: opacity .3s ease, background-color .3s ease, font-size .1s ease;
}
/* line 72, ../sass/_calendar.scss */
#calendar .action:hover {
  background-color: #7af;
}

/* line 78, ../sass/_calendar.scss */
#calendar.active #month-name,
#calendar.active .day {
  opacity: 1;
}

/* line 1, ../sass/_details.scss */
#date-details {
  width: 404px;
  float: right;
}
/* line 5, ../sass/_details.scss */
#date-details .detail-button {
  margin-top: 15px;
  line-height: 38px;
  height: 38px;
}
/* line 10, ../sass/_details.scss */
#date-details #date-details-info {
  border-top: 1px solid #c0c0c0;
  box-sizing: border-box;
  height: 170px;
  margin-top: 68px;
}
/* line 17, ../sass/_details.scss */
#date-details #date-details-day {
  float: left;
  font-size: 100px;
  font-family: "Open Sans", sans-serif;
  padding: 30px 0 0 30px;
  opacity: 0;
  transition: opacity .3s ease;
}
/* line 26, ../sass/_details.scss */
#date-details #date-details-dayname {
  float: left;
  font-size: 18px;
  line-height: 24px;
  padding: 75px 0 0 20px;
  opacity: 0;
  transition: opacity .3s ease;
}
/* line 35, ../sass/_details.scss */
#date-details #date-details-eventlist {
  border-top: 1px solid #c0c0c0;
  max-height: 272px;
  overflow: auto;
  padding-top: 30px;
  position: relative;
  width: 100%;
}
/* line 43, ../sass/_details.scss */
#date-details #date-details-eventlist #date-details-eventlist-loading {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  height: 30px;
  left: 50%;
  line-height: 30px;
  margin-left: -100px;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all .1s ease;
  width: 200px;
}
/* line 58, ../sass/_details.scss */
#date-details #date-details-eventlist #date-details-eventlist-loading.active {
  opacity: 1;
}
/* line 63, ../sass/_details.scss */
#date-details #date-details-dayname.active,
#date-details #date-details-day.active {
  opacity: 1;
}
/* line 68, ../sass/_details.scss */
#date-details .date-details-event-desc {
  box-sizing: border-box;
  float: left;
  padding: 10px 20px;
  width: 80%;
}
/* line 75, ../sass/_details.scss */
#date-details .date-details-event-time {
  box-sizing: border-box;
  color: #999;
  float: left;
  font-size: 10.8px;
  padding: 10px 20px;
  text-align: right;
  width: 20%;
}
/* line 85, ../sass/_details.scss */
#date-details .date-details-event-wrapper {
  background: transparent;
  cursor: pointer;
  opacity: 0;
  transition: all .3s ease;
}
/* line 92, ../sass/_details.scss */
#date-details .date-details-event-wrapper.active {
  opacity: 1;
}
/* line 96, ../sass/_details.scss */
#date-details .date-details-event-wrapper:hover {
  background: #7af;
}
/* line 100, ../sass/_details.scss */
#date-details .date-details-event-wrapper:hover .date-details-event-desc {
  color: #159;
}
/* line 103, ../sass/_details.scss */
#date-details .date-details-event-wrapper:hover .date-details-event-time {
  color: #159;
}

/* line 1, ../sass/_modal.scss */
.event-modal-bkg {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 100%;
  transition: opacity .3s ease, top 0 ease .3s;
}

/* line 12, ../sass/_modal.scss */
.event-modal-bkg.active {
  opacity: 1;
  top: 0;
  transition: opacity .3s ease;
}

/* line 19, ../sass/_modal.scss */
.event-modal-modal {
  background-color: #fff;
  left: -1000%;
  min-width: 200px;
  min-height: 200px;
  position: fixed;
  opacity: 0;
  top: 50%;
  transform: translate(-50%, -80%);
  transition: opacity .3s ease, transform .3s ease, left 0 ease .3s;
}
/* line 30, ../sass/_modal.scss */
.event-modal-modal .event-modal-titlebar {
  background-color: #337ab7;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  width: 100%;
}
/* line 40, ../sass/_modal.scss */
.event-modal-modal .event-modal-titlebar .event-modal-titlebar-close {
  cursor: pointer;
  float: right;
  font-size: 10px;
  height: 30px;
  text-align: center;
  width: 30px;
}
/* line 49, ../sass/_modal.scss */
.event-modal-modal .event-modal-titlebar .event-modal-titlebar-close:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 54, ../sass/_modal.scss */
.event-modal-modal #modal-loading {
  background-color: #fff;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 100%;
  transition: opacity .3s ease, top 0s ease .3s;
}
/* line 65, ../sass/_modal.scss */
.event-modal-modal #modal-loading span {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* line 73, ../sass/_modal.scss */
.event-modal-modal #modal-loading.active {
  opacity: 1;
  top: 0;
  transition: opacity 0s ease, top 0s ease 0s;
}

/* line 80, ../sass/_modal.scss */
.event-modal-modal.active {
  left: 50%;
  opacity: 1;
  transition: opacity .3s ease, transform .3s ease;
  transform: translate(-50%, -50%);
}

/* line 87, ../sass/_modal.scss */
.event-model-button-wrapper {
  box-sizing: border-box;
  padding: 0 5% 20px 0;
  width: 100%;
}
/* line 92, ../sass/_modal.scss */
.event-model-button-wrapper button {
  width: 100px;
}

/* line 1, ../sass/_form.scss */
#mainform {
  margin-top: 15px;
  width: 500px;
}
/* line 6, ../sass/_form.scss */
#mainform label {
  box-sizing: border-box;
  float: left;
  height: 36px;
  line-height: 36px;
  padding-right: 10px;
  text-align: right;
  width: 20%;
}
/* line 16, ../sass/_form.scss */
#mainform input,
#mainform select {
  border: 1px solid #c0c0c0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  height: 25px;
  margin: 5px 5% 0 0;
  padding: 0 5px;
  width: 75%;
}
/* line 28, ../sass/_form.scss */
#mainform select {
  padding: 0;
}
/* line 32, ../sass/_form.scss */
#mainform #mainform-date-wrapper {
  float: left;
  white-space: nowrap;
  width: 75%;
  box-sizing: border-box;
}
/* line 39, ../sass/_form.scss */
#mainform #mainform-date {
  margin-right: 3%;
  width: 33%;
}
/* line 44, ../sass/_form.scss */
#mainform #mainform-time {
  margin-right: 3%;
  width: 20%;
}
/* line 49, ../sass/_form.scss */
#mainform #mainform-remind {
  margin-right: 0;
  width: 41%;
}
