#mainform{

	margin-top: 15px;
	width:      500px;

	label{
		box-sizing:    border-box;
		float:         left;
		height:        36px;
		line-height:   36px;
		padding-right: 10px;
		text-align:    right;
		width:         20%;
	}

	input,
	select{
		border:      1px solid $line-color;
		box-sizing:  border-box;
		font-family: $font-family;
		font-size:   $font-size;
		height:      25px;
		margin:      5px 5% 0 0;
		padding:     0 5px;
		width:       75%;
	}

	select{
		padding: 0;
	}

	#mainform-date-wrapper{
		float:        left;
		white-space:  nowrap;
		width:        75%;
		box-sizing:   border-box;
	}

	#mainform-date{
		margin-right: 3%;
		width:        33%;
	}

	#mainform-time{
		margin-right: 3%;
		width:        20%;
	}

	#mainform-remind{
		margin-right: 0;
		width:        41%;
	}

	#mainform-group{
		margin-bottom: 5px;
		margin-left:   5%;
		width:         90%;
	}

	#mainform-otherParticipant{
		margin: 5px 0 10px 20px;
		width:  45%;
	}

	.mainform-participants-button{
		height:       25px;
		line-height:  25px;
		margin-left:  0;
		margin-right: 5%;
		width:        80px;
	}

	#mainform-participants-label{
		margin-top:   10px;
		padding-left: 25px;
	}

	#mainform-participants-others{
		float:        left;
		margin-top:   10px;
		padding-left: 25px;
	}

	#mainform-participants-wrapper{
		border-top:    1px solid $line-color;
		margin-top:    10px;
		padding-top:   10px;

		#mainform-participants-list{
			margin: 0px 5% 20px 5%;
			width:  90%;
		}

		.mainform-participants{
			float:       left;
			height:      20px;
			line-height: 20px;
			width:       50%;

			.mainform-participants-remove{
				color:        #d00;
				cursor:       pointer;
				padding-left: 5px;
			}
		}
	}

}