.modal-component-bkg{
	background-color: rgba(0,0,0,0.8);
	bottom:           0;
	left:             0;
	opacity:          0;
	position:         fixed;
	right:            0;
	top:              100%;
	transition:       opacity .3s ease, top 0 ease .3s;
}

.modal-component-bkg.active{
	opacity:    1;
	top:        0;
	transition: opacity .3s ease;
}

.modal-component{

	background-color: #fff;
	left:             -1000%;
	min-width:        200px;
	min-height:       200px;
	position:         fixed;
	opacity:          0;
	top:              50%;
	transform:        translate(-50%, -80%);
	transition:       opacity .3s ease, transform .3s ease, left 0 ease .3s;

	.modal-component-title{
		background-color: #337ab7;
		box-sizing:       border-box;
		color:            #fff;
		font-size:        $font-size;
		height:           30px;
		line-height:      30px;
		padding-left:     10px;    
		width:            100%;

		.modal-component-title-close{
			cursor:     pointer;
			float:      right;
			font-size:  10px;
			height:     30px;
			text-align: center;
			width:      30px;
		}

		.modal-component-title-close:hover{
			background-color: rgba(255,255,255,0.5);
		}
	}

	.modal-tabs{
		border-bottom: 1px solid $line-color;
		height:        39px;
		line-height:   50px;
		width:         100%;

		.modal-tab{
			border-bottom: 2px solid transparent;
			box-sizing:    border-box;
			cursor:        pointer;
			float:         left;
			height:        39px;
			padding-left:  10px;
			width:         100px;
		}

		.modal-tab:hover{
			background-color: rgba(0,0,0,0.1);
		}

		.modal-tab.active{
			border-bottom: 2px solid $line-color;
		}

	}

	.modal-component-content{

		position: relative;

		.modal-loading{
			background-color: #fff;
			bottom:           0;
			left:             0;
			opacity:          0;
			position:         absolute;
			right:            0;
			top:              100%;
			transition:       opacity .3s ease, top 0s ease .3s;

			span{
				left:      50%;
				position:  absolute;
				top:       50%;
				transform: translate(-50%,-50%);
			}
		}

		.modal-loading.active{
			opacity:    1;
			top:        0;
			transition: opacity 0s ease, top 0s ease 0s
		}
	}

	.modal-component-content-tab{
		box-sizing: border-box;
	}

	.modal-component-buttons{
		border-top: 1px solid $line-color;
		padding:    11px 20px 15px 20px;

		button{
			width: 100px;
		}
	}
}

.modal-component.active{
	left:      50%;
	opacity:   1;
	transition: opacity .3s ease, transform .3s ease;
	transform: translate(-50%, -50%);
}