$bkg-color:	     #e0e0e0;
$line-color:     #c0c0c0;
$font-color:     #333;
$font-family:    'Open Sans', sans-serif;
$font-size:      12px;
$width:          1000px;
$calendar-width: 595px;
$day-width:      85px;